form {
    border: 2px solid navy;
    width: 30%;
    background-color: rgb(211, 199, 183);
    padding: 10px 10px;
}
h3 {
    color: BLACK;
    font-weight: 50px;
    text-align: center;
}

input {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text] {
    border: 2px solid grey;
    background-color: tan);
    color: black;
}

input[type=submit] {
    background-color: darkgrey;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 0;
    cursor: pointer;
}